<h2>Sign up</h2>

<%= nested_form_for([resource, resource.with_state], as: resource, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "fullname" %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth" %>
  </div>

  <div class="field">
    <%= f.fields_for :state do |s| %><br />
      <%= s.label :state, 'State where you currently live' %><br />
      <%= s.text_field :full_name %><br />
    <% end %><br />
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
